
/* GLOBAL SETTINGS */

a {
  /* Remove default link underlines */
  text-decoration: none;
}

header a{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: right;
  display: block;
  padding: 0 2rem;
}

nav {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr);
  grid-column-start: 2; */
  /* justify-content: space-around; */
  background-color: orange;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  color: rgb(248, 248, 140);
  font-weight: bold;
}

footer {
  padding: 2rem 1rem;
  background-color: lightgreen;
  text-align: center;
  font-weight: bold;
  margin-top: 5rem;

}

/* LIST PAGE */

.list-recipe-name a {
  color:green
}

.list-img{
  width: 20rem
}

.list-page-title {
  color: darkgreen;
  text-align: center;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-around;
  text-align: center;
  margin-top: 3rem;
}


/* DETAIL PAGE */

.detal-page-body {
  margin-left: 10rem;
}

#detail-recipe-title h1 {
  color: darkgreen;
  text-align: left;
}

#detail-recipe-title h2 {
  text-align: left;
}

.detail h2 {
  text-align: left;
  color: darkgreen;
}

.detail-img {
  width: 40rem
}

h4 {
  text-align: center;
}

.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


.button-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #f32424 0%, #bd0505 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-11:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


/* .recipe-page {
  text-align: left;
} */

/* .recipe-page h2 {
  text-align: left
} */


/* CREATE /EDIT FORM */

.create-form {
  display: grid;
  justify-content: space-around;
}
