{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    {% block title %}
    <title>Scrumptious</title>
    {% endblock title %}
  <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
      {% if user.is_authenticated %}
      <li>Hello, {{ user.username }}</li>
      <li><a href="{% url 'my_recipe_list' %}">My Recipes</a></li>
      <li><a href="{% url 'create_recipe' %}">Add a New Recipe</a></li>
      <li><a href="{% url 'user_logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'signup' %}">Sign up</a></li>
      <li><a href="{% url 'user_login' %}">Login</a></li>
      {% endif %}
      <li><a href="{% url 'recipe_list' %}">Main page</a></li>
      </ul>
     </nav>
  </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
  <footer>
    Made with love by Scrumptious Recipes
  </footer>
</body>
</html>
